.intro {
    
    grid-area: intro;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: var(--bg-intro);
    background-size: cover;
    background-position: top center;
    min-height: 100vh;

    .avatar {
        padding-bottom: 56px;
    }

    .container {
        max-width: 680px;
        width: 100%;
        height: 100%;
    }

    h2 {
        font: var(--subtitle);
        color: var(--gray-200); 
        padding-bottom: 8px;
    }

    h1 {
        font: var(--title-lg);
        color: var(--gray-100);
        padding-bottom: 20px;
    }

    p {
        font: var(--text-sm);
        color: var(--gray-300);
    }
    
    ul {
        font: var(--text-md);
        color: var(--gray-200);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        gap: 16px;
        padding-top: 80px;

        margin-bottom: 94px;

        li {
            display: flex;
            flex-direction: row;
            gap: 8px;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            max-width: 80%;
            padding: 8px 16px;
            border-radius: 999px;
            background-color: var(--gray-400);
            list-style-type: none;

        }
    }
    

}

.projects {
    grid-area: projects;

    
    background-color: var(--gray-500);
    min-height: 100vh;
    margin: 72px 120px 144px;  

    header {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        margin-bottom: 56px;

        h2 {
            font: var(--subtitle);
            color: var(--red);
            padding: 8;
        }

        h1 {
           font: var(--title-md-bold);
           color: var(--gray-100);
        }

    }

    .grid .projectcard .text{

        h1 {
            font: var(--title-sm-bold);
            color: var(--gray-100);
        }

        p {
            font: var(--text-sm);
            color: var(--gray-200);
        }

    }


}

